body {
  background-color: #7769AA;
}
#friend {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 80%;
  border: 5px solid white;
  margin-top: 20px;
  margin-left: 110px;
  margin-right: auto;
  background-color: #A196C8;
  color: #3A2A74;
  font-style: oblique;
  font-size: 40px;
}

#info {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  border: 5px solid white;
  width: 60%;
  background-color: #A196C8;
  margin-top: 70px;
  margin-left: 20px;
  font-style: oblique;
  padding: 25px ;
}

#border {
  border: solid #312D75;
  margin:auto;

}

#gameBorder{
  border: solid #312D75;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-style: oblique;
}

#topborder {
  border: solid #312D75;
  margin-top: 45px;
  margin-left: 20px;
  margin-right: 20px;
}

#game {
  border: 5px solid white;
  display: inline-block;
  margin-top: 70px;
  width: 35%;
  float: right;
  background-color: #A196C8;
}

#button {
  text-align: center;
}
